* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-black: #212121;
  --second-black: #000000;
  --main-blue: #2196f3;
  --background-grey: #2f303a;
  --main-white: #ffffff;
  --second-white: #f5f4fa;
  --main-grey: #757575;
  --line-color: #ececec;
  --line-color-2: #eeeeee;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--main-white);
  color: var(--main-black);
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0;
}

.web-name {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-blue);
}

.highlight {
  color: var(--main-black);
}

.highlight2 {
  color: var(--main-white);
}

.webstudio {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
}

.webstudio-link {
  text-decoration: none;
}

.webstudio-link-2 {
  text-decoration: none;
  padding-bottom: 20px;
}

a.webstudio-link {
  text-decoration: none;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
}

a.webstudio-link-2 {
  text-decoration: none;
  display: inline-block;
}

.top-line-partition {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  height: 80px;
  border-bottom: 1px solid var(--line-color);
  margin: auto;
}

.top-line-left-side {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding-left: 215px;
}

.top-line-menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 46px;
  margin-left: 0;
  padding: 0;
}

.top-line-right-side {
  display: flex;
  justify-content: space-between;
  padding-right: 227px;
}

.top-line-menu-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-black);
}

.top-line-menu-list-link:hover,
.top-line-menu-list-link:focus,
.top-line-menu-list-link:active {
  color: var(--main-blue);
}

.top-line-link {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.top-line-menu-link {
  text-decoration: none;
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-grey);
  display: flex;
  align-items: center;
}

.top-line-icon {
  fill: currentColor;
  margin-right: 10px;
}

.top-line-menu-link:hover,
.top-line-menu-link:focus {
  color: var(--main-blue);
}

.header-bg {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/goit-markup-hw-04/images/main/header.jpg);

  background-size: cover;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header-bg-description {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white);
  width: 696px;
  height: 120px;
  margin: auto;
}

.header-bg-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white);
  background-color: var(--main-blue);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
}

.header-bg-btn:hover,
.header-bg-btn:focus {
  color: var(--main-white);
  background-color: var(--main-blue);
}

.advantages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding-bottom: 94px;
}

.advantages-rectangle {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-icon {
  align-items: center;
}
.advantages-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mine-grey);
  width: 270;
  height: 75;
}

.what-we-do-list {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
  gap: 30px;
  list-style-type: none;
  margin: 0;
}

.header-primary {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.header-primary2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.team {
  background: var(--second-white);
  margin: auto;
  height: 708px;
  text-align: center;
  align-items: center;
  padding-bottom: 0;
}

.team-list {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
  margin: 0;
}

.team-list-info {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list-title {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--mine-grey);
  padding-top: 10px;
}

.team-icon-list {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
}

.team-icon {
  fill: #afb1b8;
}

.team-icon:hover,
.team-icon:focus {
  fill: #fff;
}
.team-social-icons-likns {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.team-social-icons-likns:hover,
.team-social-icons-likns:focus {
  background-color: #2196f3;
}

.team-social-icons-likns:hover > .team-icon,
.team-social-icons-likns:focus > .team-icon {
  fill: #fff;
}

.team-card {
  width: 270px;
  height: 428px;
  background: var(--main-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.clients-list {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
  margin: 0;
}

.clients-rectangle {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-rectangle:hover,
.clients-rectangle:focus {
  border: 1px solid #2196f3;
}

.clients-rectangle:hover > .clients-icon,
.clients-rectangle:focus > .clients-icon {
  fill: #2196f3;
}

.clients-icon {
  fill: #afb1b8;
}

.clients-icon:hover,
.clients-icon:focus {
  fill: #2196f3;
}

.filters {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-bottom: 50px;
}

.filters li:last-child .filters-btn {
  margin-right: 0;
}

.filters-btn {
  color: var(--main-black);
  background-color: var(--second-white);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  border: 0;
  border-radius: 4px;
  margin-right: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 6px 22px 6px 22px;
}

.filters-btn:hover,
.filters-btn:focus {
  color: var(--main-white);
  background-color: var(--main-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects {
  text-align: center;
  align-items: center;
}

.projects-card {
}
.projects-card:hover,
.projects-card:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  list-style-type: none;
}

.projects-card-img {
  display: block;
}
.projects-list-info {
  text-align: left;
  padding: 20px 24px 20px 24px;
  width: 370px;
  height: 110px;
  background: var(--main-white);
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: var(--line-color-2);
}

.projects-list-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.projects-list-category-name {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--mine-grey);
}

.footer-bg {
  background: var(--background-grey);
  height: 252px;
  margin: auto;
}

.footer-partition {
  display: flex;
}

.footer-left-side {
  padding-top: 60px;
}

.footer-right-side {
  padding-top: 72px;
  padding-left: 70px;
}
.footer-join-us-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

.footer-icon {
  fill: #fff;
}

.footer-icon-list {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
}

.footer-social-icons-likns {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.1);
}

.footer-social-icons-likns:hover,
.footer-socjal-icons-links:focus {
  background: #2196f3;
}

.footer-line-menu-list {
  list-style: none;
  padding-inline-start: 0;
}

.footer-line-menu-list-item {
  padding-bottom: 9px;
}

.footer-line-menu-list-item:last-child {
  padding-bottom: 0;
}

.footer-bg-location {
  color: var(--main-white);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-bg-location:hover,
.footer-bg-location:hover {
  color: #2196f3;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--main-blue);
}
